p {
    color : red
   }

   nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline; /* les éléments deviennent côte à côte */
    margin-right: 20px; /* espace entre eux */
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  .navbar {
    background-color: lightblue;
  }
  
  .menu-item:hover {
    color: orange;
  }